<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UpdateUser1</servlet-name>
        <servlet-class>UpdateUser1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_IncomeCategory1</servlet-name>
        <servlet-class>Add_IncomeCategory1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_ExpensesCategory1</servlet-name>
        <servlet-class>Add_ExpensesCategory1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser1</servlet-name>
        <servlet-class>Add_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Income_Category</servlet-name>
        <servlet-class>Delete_Income_Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_Income_Category</servlet-name>
        <servlet-class>Edit_Income_Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Income_Category</servlet-name>
        <servlet-class>Update_Income_Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_IncomeCategory</servlet-name>
        <servlet-class>Add_IncomeCategory2.Add_IncomeCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_IncomeCategory2</servlet-name>
        <servlet-class>Add_IncomeCategory2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_Expenses_Category</servlet-name>
        <servlet-class>Update_Expenses_Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Expenses_Category</servlet-name>
        <servlet-class>Delete_Expenses_Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Expenses</servlet-name>
        <servlet-class>Add_Expenses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Income</servlet-name>
        <servlet-class>Add_Income</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExpensesCategory</servlet-name>
        <servlet-class>UpdateExpensesCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUser1</servlet-name>
        <url-pattern>/UpdateUser1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_IncomeCategory1</servlet-name>
        <url-pattern>/Add_IncomeCategory1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_ExpensesCategory1</servlet-name>
        <url-pattern>/Add_ExpensesCategory1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser1</servlet-name>
        <url-pattern>/AddUser1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Income_Category</servlet-name>
        <url-pattern>/Delete_Income_Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_Income_Category</servlet-name>
        <url-pattern>/Edit_Income_Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Income_Category</servlet-name>
        <url-pattern>/Update_Income_Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_IncomeCategory</servlet-name>
        <url-pattern>/Add_IncomeCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_IncomeCategory2</servlet-name>
        <url-pattern>/Add_IncomeCategory2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_Expenses_Category</servlet-name>
        <url-pattern>/Edit_Expenses_Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Expenses_Category</servlet-name>
        <url-pattern>/Delete_Expenses_Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Expenses</servlet-name>
        <url-pattern>/Add_Expenses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Income</servlet-name>
        <url-pattern>/Add_Income</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExpensesCategory</servlet-name>
        <url-pattern>/UpdateExpensesCategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
